.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--border);
    gap: 10px;

    min-height: 30px;
    padding: 5px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header > * {
    width: 100%;
}

.titleContainer{
    flex: 1;
    min-width: 50dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex: 0;
}
.loginContainer button{
    background-color: var(--secondary);
    gap: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}