.toggler{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 5px 5px;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--background2);
    border: 1px solid var(--border);
}

.toggler *:hover{
    background-color: rgb(158, 158, 158);
    color: black;
}
.toggler > div {
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.selected{
    background-color: rgb(179, 179, 179);
    color: rgb(27, 27, 27);
    font-weight: bold;
}

.toggler > *{
    transition: 150ms;
}